.container{
    width: calc(100% - 100px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.users .user{
    width: 25%;
    border: 1px solid #ccc;
    padding: 20px;
    text-align:start;
    background-color: rgb(42, 110, 42);
    border-radius: 20px;
}
.users .user h2{
    font-size: 24px;
    color: rgb(7, 7, 75);
}
.users .user p{
    color: white;
}
.users .user a{
    text-decoration: none;
    color: white;
}
.users .user span{
    font-weight: 900;
    font-size: 20px;
    color: rgb(7, 7, 75);
}